<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mobile_manipulator">

  <xacro:arg name="sim_mode" default="true"/>

  <xacro:include filename="$(find mobile_manipulator_description)/urdf/materials.xacro"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/base.xacro"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/arm.xacro"/>
  <xacro:include filename="$(find mobile_manipulator_description)/urdf/mobile_manipulator.ros2_control.xacro"/>

  <!-- Gazebo-only plugins (sensors, gazebo_ros2_control bridge) live in the
       mobile_manipulator_gazebo package, kept out of this xacro so the
       same robot description can be loaded for real-hardware bringup
       without dragging in a Gazebo dependency. -->
  <xacro:if value="$(arg sim_mode)">
    <xacro:include filename="$(find mobile_manipulator_gazebo)/urdf/mobile_manipulator.gazebo.xacro"/>
  </xacro:if>

  <xacro:mobile_manipulator_ros2_control sim_mode="$(arg sim_mode)"/>

</robot>
